.container {
    max-width: 1000px;
    margin: 0 auto;
}

.section {
    background: white;
    padding: 5px;
    box-shadow: 1px -1px 5px 0px #D5CEDD;

}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    padding: 20px;
    margin: 5px;
}

@media (max-width: 791px) {
    .form {
        grid-template-columns: 1fr;
    }
}
    
.section__header {
    padding: 15px;
    border-bottom: 2px solid whitesmoke;
    display: grid;
    grid-template-columns: auto auto;
    align-content: space-around;
    gap: 50px;
}

@media (max-width: 791px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.list {
    list-style-type: none;
    padding: 5px 15px;
}

.section {
    margin: 10px 0px;
}

.form__input {
    padding: 8px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
}

@media (max-width: 791px) {
    .buttons {
        justify-content: flex-start;
    }
}

.buttons__button {
    background: transparent;
    border: none;
    color: teal;
    transition: color 1s;
    font-size: 0.7em;
}