.task__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap:10px;
    align-items: center;
    border-bottom: solid 1px whitesmoke;
    padding: 5px 0;
}

.task__button {
    border: none;
    color: white;
    width: 35px;
    height: 35px;
}

.task__button--done {
    background: green;
}

.task__button--done:hover {
    background: rgb(2, 181, 2);
}

.task__button--done:active {
    background: rgb(4, 239, 4);
}

.task__content--done {
    text-decoration: line-through;
}

.task__button--delete {
    border: none;
    background: rgb(235, 4, 4);
    width: 35px;
    height: 35px;
}

.task__delete:hover {
    border: none;
    background: rgb(245, 3, 3);
    width: 35px;
    height: 35px;
}

.task__delete:active {
    border: none;
    background: red;
    width: 35px;
    height: 35px;
}

.form__button {
    border: none;
    background: teal;
    color: white;
}

@media (max-width: 791px) {
    .form__button {
        padding: 10px;
}
}